*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;

}
body{
    background-color: black;
}

.img{
    width: 50%;
    height: 100%;
    overflow: hidden;
    float: left;
    background: #fff url(/imagenes/imagen_Fondo.jpg) no-repeat center
    background-size cover;
}

.form_control{
width: 50%;
height: 100%;
display:flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin: auto;
margin-top: 70px;
border-radius: 16px;
font-family: 'calibri';
float: right;
}

.form_control h4{
    color: #fff;
    margin: 40px;
    padding-bottom: 2rem;
    font-family: 'calibri';
    font-size: 30px;
}

.controls{
    width: 70%;
    display: block;
    margin: auto;
    margin-bottom: 2rem;
    background-color: transparent;
    border:none;
    border-bottom: solid thin #fff;
    text-align: center;
    outline: none;
    padding: .2rem 0;
    font-size: .9rem;
    color: #fff;
}

.controls:hover{
    border-bottom:red thin solid;
    transition: .2s ease-in;
}
.form_control [type="button"]{
    width: 50%;
    margin: auto;
    border: solid thin white;
    padding: .7rem;
    border-radius: 2rem;
    background-color: #fff;
    font-weight: 600;
    margin-top: 4rem;
    font-size: .8rem;
    cursor: pointer;
    color: black;
}